body {
  background: linear-gradient(to top left, #28b487, #7dd56f);
  font-family: sans-serif;
  color: #333;
  width: 1280px;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62%;
  letter-spacing: 1px;
  word-spacing: 1px;
  box-sizing: border-box;
}

.show-modal {
  margin-top: 40px;
  margin-right: 20px;
  position: relative;
  color: #fff;
  left: 30%;
  top: 5%;
  padding: 10px 20px;
  border-radius: 35px;
  border: none;
  background: #24745a;
  cursor: pointer;
  z-index: 1;
}

.hidden {
  display: none;
}

.openModal {
  width: 70%;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  background-color: #24745a;
  position: absolute;
  left: 14%;
  top: 20%;
  z-index: 3;
}

.closeModal {
  float: right;
  background-color: #24745a;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1.5px);
  z-index: 2;
}
